body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*{box-sizing: border-box;}
img{width:100%; display:block;}
/* -------------comments.js----------------- */
/*card*/

.card{
  width:200px;
  border-radius: 10px;
  padding: 1em;
  margin:1em;
  
}

.content, .metadata, .comment{
  text-align: center;
  padding: 1em;

}

.linkauthor{
  color:darkseagreen;
  font-weight: 900;
}

.postdate{
  font-style: italic;
  color: gray;
  font-size: 0.8em;
}




/*------------App.js------------*/
.maincontainer{
  display:flex;
  justify-content:center;
}


/*feedback,js*/
.feedbackcontainer{
  width:300px;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  margin: 2%;
  overflow:hidden;
  justify-content:center;
}

.content{
  font-size: 1.2em;
  font-weight: bolder;
}

.description{
  text-align:center;
  font-style: italic;
  color: gray;
}

.cardfooter{
  background-color:darkcyan;
  text-align: center;
  color: white;
  padding: 0.5px;
  margin-top: 2em;
}

.feedbackcontainer:hover{
  box-shadow: none;
  border: solid 3px gray;
}

/* modalwindow.js*/
.modalwindow{
  background-color:rgba(50, 50, 50, 0.6);
  position: fixed;
  inset: 0% 0% 0% 0%;
  display:none;
}

.modalcontent{
  background-color: white;
  width:500px;
  margin: 5em auto;
  padding:10px;
}

.modalheader{
  display:flex;
  text-align:center;
  /*border-bottom: gray solid 1px;*/
  color: darkcyan;
}

.modalheader p:nth-child(1){width: 90%;}
.commentarea{width: 100%; height:3em;}

.btnpostfeedback{
  width: 100%;
  background-color:darkcyan;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  }

.btnpostfeedback:hover, .closemodal:hover{
  background-color:crimson;
  font-weight:bolder;
  cursor: pointer;
}



