*{box-sizing: border-box;}
#content{
    width: 2000px; /*allow to create horizontal scrolling*/
    padding: 1em;
    background-color:bisque;
}

/*example 2*/
img{width: 600px; display: block; height:800px}

.maincontainer, .gallerycontainer{
    width:1200px;
    height:800px;
    margin: auto;
}

.maincontainer{
    position: relative;
    z-index: 0;
}

.gallerycontainer{
    position: relative;
    z-index: 1;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.galleryimg{
    display: inline-block;
    width: 600px;
}

.btnright, .btnleft{
    position: absolute;
    z-index: 1;
    top: 40%;
    font-size: 1.5em;
    padding:0.5em;
    border: none;
    background-color:rgba(100, 100, 100, 0.6)
}

.btnright{
    right: 0%;
}

.btnleft{
    left: 0%;
}

.btnright:hover, .btnleft:hover{
    background-color:rgba(200, 200, 200, 0.9);
    color:brown;
}


/*example 3*/
html{scroll-behavior: smooth;}

.topcontainer{
    width: 50px;
    height: 50px;
    background-color:rgba(200, 200, 200, 0.6);
    position: fixed;
    bottom: 0em;
    right: 2em;
    border-radius: 50%;
    text-align: center;
    display:none;
}

.toplink{
    color:cadetblue;
    padding-top: 1em;
    display: block;
    text-decoration:none;
}

.toplink:hover{
    color:brown;
 
}


